[MASTER]
ignore=venv,.venv,__pycache__,.pytest_cache

[MESSAGES CONTROL]
disable=C0114,C0115,C0116

[FORMAT]
max-line-length=100

[REPORTS]
output-format=colorized
reports=no

[DESIGN]
max-args=6
max-locals=20
max-branches=15
max-statements=50
max-parents=7
max-attributes=10
max-public-methods=20

[TYPECHECK]
generated-members=numpy.*,pandas.*
